<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Exists.String" value="John"/>
    <add key="Exists.Char" value="X"/>
    <add key="Exists.Bool" value="true"/>
    <add key="Exists.Byte" value="255"/>
    <add key="Exists.Short" value="32767"/>
    <add key="Exists.Int" value="2147483647"/>
    <add key="Exists.Long" value="9223372036854775807"/>
    <add key="Exists.Long" value="9223372036854775807"/>
    <add key="Exists.Float" value="1.1234567"/>
    <add key="Exists.Double" value="1.123456789012345"/>
    <add key="Exists.Decimal" value="1.1234567890123456789012345678"/>
    <add key="Exists.AbsoluteUri" value="http://www.google.com/"/>
    <add key="Exists.Guid" value="9DDC5329-2219-45EB-AACB-9842A9335128"/>

    <add key="Exists.ButIsNotChar" value="not a char"/>
    <add key="Exists.ButIsNotBool" value="not a bool"/>
    <add key="Exists.ButIsNotByte" value="not a byte"/>
    <add key="Exists.ButIsNotShort" value="not a short"/>
    <add key="Exists.ButIsNotInt" value="not an int"/>
    <add key="Exists.ButIsNotLong" value="not a long"/>
    <add key="Exists.ButIsNotFloat" value="not a float"/>
    <add key="Exists.ButIsNotDouble" value="not a double"/>
    <add key="Exists.ButIsNotDecimal" value="not a decimal"/>
    <add key="Exists.ButIsNotAbsoluteUri" value="/somepath/"/>
    <add key="Exists.ButIsNotGuid" value="9DDC5329-2219-45EB-AACB"/>
  </appSettings>
</configuration>